.grid {
  max-width: 100%;
  height: auto;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  margin: 0 15px 30px;
}

.grid-item img {
  width: 100%;
}
